*.pyc
*.swp
*.swo
*.nfs*
*.o
*.so
*.depend
*.layout
*.obj
.idea
*.log
*.pkl
*.html
bin
obj
output*
build
release
debug
Release
Debug
test-mails
train-mails
a.out
token
patch
online.csv
trade_times.csv
data_downloaded.csv
max_pain.csv
